/* === BG OVERLAY === */
.dark-overlay {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  /* background-image: url('../images/overlay.png');
  background-size: cover;
  background-position: center; */
  pointer-events: none;
  position: fixed;
  z-index: -1;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s;
  box-shadow: 0 0 1000vw rgba(0,0,0,1) inset;
  background-color: var(--color-unholy-red);
  mix-blend-mode: color-burn;

}
.dark-overlay::after, .dark-overlay::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  transition: all 2s;
  box-shadow: 0 0 1000vw var(--color-main) inset;
  opacity: 0.5;

}
.input-dark {
  position: absolute;
  transform: translateX(-100vw);
}
.input-dark-button {
  position: absolute;
  z-index: 21;
  right: 0;
  top: 0;
  padding: 0.5rem;
  display: table;
  text-align: right;
  background-color: var(--color-main);
  color: var(--color-secondary);
  text-transform: lowercase;
  transition: all 0.3s;
  cursor: pointer;
}
.input-dark:checked ~ .input-dark-button {
  background-color: var(--color-unholy-dark);
  color: var(--color-unholy-red);
}
.input-dark:checked ~ .input-dark-button .input-dark-button__switchtext {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.input-dark:checked ~ .dark-overlay {
  opacity: 1;
  z-index: 20;
}
.input-dark:checked ~ .article .section-holder, .input-dark:checked ~ .article .parralax {
  mix-blend-mode: luminosity;
}
.input-dark:checked ~ .article .article__title-sub {
  opacity: 1;
  max-width: 5rem;
}
.input-dark:checked ~ .article .slider-img__overlay {
  width: 90%;
}
.input-dark:checked ~ .article .glitch::before, .input-dark:checked ~ .article .glitch::after, .input-dark:checked ~ .article .glitch-img__glitch {
  display: block;
}
