/* === SLIDER IMG === */
.slider-img {
  content: "";
  width: 100%;
  min-height: 30rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}
.slider-img__overlay {
  mix-blend-mode: difference;
  width: 10%;
  max-width: 99%;
  resize: horizontal;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-position: center;
}
.slider-img__overlay::after {
  content: "";
  display: block;
  position: absolute;
  width: .5rem;
  height: .5rem;
  background: black;
  bottom: 0;
  right: 0;
  border-right: 0;
  border-bottom: 0;
  cursor: col-resize;
  mix-blend-mode: hard-light;
}

/* === SLIDER === */
.slider {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 1rem;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: var(--color-secondary);
  color: var(--color-main);
}
.article__section:nth-of-type(even) .slider {
  background-color: var(--color-main);
  color: var(--color-secondary);
}
.slider__slide {
  min-width: 100%;
  position: relative;
  padding: 2rem;
}
