body, html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

main section:last-of-type {
  grid-column: span 5;
}
main section:last-of-type ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}
